.galleries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-gap: 10px;
}


.gallery {
    column-count: 1;
    column-gap: 1vw;
}

.gallery div {
    margin-bottom: 0.5vw;
    margin: 10px auot;
}

@media screen and (min-width: 600px) {
    .gallery {
        column-count: 2;
    }
}

@media screen and (min-width: 800px) {
    .gallery {
        column-count: 3;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        column-count: 4;
    }
}



