.galleries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.galleries > div {
    border: 1px solid #666;
    padding: 10px;
    text-align: center;
    transform: rotate(-2deg);
    transition: 500ms;
    font-family: 'Indie Flower';
    background: white;
}

.galleries > div:hover {
    transform: rotate(0deg) scale(1.1);
    z-index: 99;
}

.galleries a {
    color: black;
}


.gallery {
    column-count: 1;
    column-gap: 1vw;
}

.gallery div {
    margin-bottom: 0.5vw;
    margin: 10px auot;
}

@media screen and (min-width: 600px) {
    .gallery {
        column-count: 2;
    }
}

@media screen and (min-width: 800px) {
    .gallery {
        column-count: 3;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        column-count: 4;
    }
}



